@import url("https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,400;0,600;1,800&family=Roboto:ital,wght@0,300;0,400;1,100;1,300&display=swap");

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; 
  outline:none;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ececec;
}

*::selection{
    background: #6358dc;
    color:white;
}